# Dependencias principales de tu app
streamlit==1.26.0
pandas==2.2.2
mysql-connector-python==8.3.0
scikit-learn==1.4.2
schedule==1.2.1
matplotlib==3.7.5
altair==5.1.2

# Soporte gráfico y predicción
numpy==1.26.4
pydeck==0.8.1b0
watchdog==3.0.0
requests==2.31.0
jinja2==3.1.3
